* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #fffcf8;
  font-family: 'Inter', sans-serif;
}

/* header */

.nav-links>a {
  text-decoration: none;
  margin-left: 10px;
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.923px;
}

.nav-links{
  display: flex;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 25px 25px;
  background: #FFF7ED;
}

nav>a{
  margin: 0;
  color: #000;
  font-size: 25.353px;
  font-style: normal;
  font-weight: 900;
  text-decoration: none;
  line-height: 40.271px;
}



.host-nav {
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
}

.host-nav a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 20px;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

a.link-styles{
  font-weight: bold;
  text-decoration: underline;
  color: #161616
}

/* home */

.home{
  background-image: url('assets/about.png');
  padding: 65px 65px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home>h1{
  color: #FFF;
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  margin-top: 0;
  text-align: center;
}

.home>h3{
  color: #FFF;
  font-size: 25px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 100px;
  text-align: center;
}

.find-van{
  border-radius: 5px;
  background: #FF8C38;
  padding: 10px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 31.662px;
  border: none;
  width: 40%;
}

/* about */

.about{
  display: flex;
}

.about>img{
 width:36%;
}

.inner-about{
  background: #fffcf8;
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-about>h1{
  color: #161616;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin-top:0 ;
}

.inner-about>p{
  color: #161616;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.inner-orange{
  background: #FFCC8D;
  border-radius: 5px;
  padding:  30px 37px;
  text-align: center;
}

.inner-orange>h3{
  color: #161616;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 0;
  
}

.second-h3{
  margin-top: 0px;
}

.explore-vans{
  margin-top: 30px;
  background: #161616;
  color: var(--white, #FFF);
  border-radius: 10px;
  padding: 12px 22px;
  cursor: pointer;
  
}

/* vans */

.van-card{
  display: grid;
  grid-template-areas: 
  "img img"
  "name price"
  "type type";
  width: 300px
}

.van-card>img{
  grid-area: img;
 width: 100%
}

.van-name{
  grid-area: name;
  color: #161616;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.van-price{
  grid-area: price;
  color: #161616;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin: 5px 0px 5px auto;
}

.day-span{
  font-size: 14px;
  font-weight: 500;
  
}

.van-card>p{
  margin: 0px auto 0px 0px;
  grid-area: type;
  padding: 5px 10px;
  border-radius: 5px;
  color: #FFEAD0;
  font-size: 16px;
  font-weight: 600;
  align-self: center;
}

.simple,.simple:hover,.simple.selected{
  background: #E17654;
  color: #FFEAD0;
}

.rugged,.rugged:hover,.rugged.selected{
  background: #115E59;
  color: #FFEAD0;
}

.luxury,.luxury:hover,.luxury.selected{
  background: #161616;
  color: #FFEAD0;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  margin-right: 20px;
}

.clear{
  text-decoration: underline;
  color: #4D4D4D;
}

.van-list-filter-buttons{
 margin-left: 35px;
}

.van-elements{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  padding: 35px;

}

.var-elements-container{
  background: #fffcf8;
}

.var-elements-container>h1{
  color: #161616;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  padding: 35px 35px 0px 35px;
  margin-top: 0;
}

.van-link{
 text-decoration: none;
}

/* van details */

.van-dts{
  display: flex;
  padding: 25px;
}

.van-dts>img{
  width: 35%;
}

.van-det-inner{
  padding: 100px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 align-items: start;
}

.van-name-det{
  color: #161616;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.van-price-det{
  color: #161616;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 20px 0;
}

.type{
  display: inline;
  padding: 5px 10px;
  border-radius: 5px;
  color: #FFEAD0;
  font-size: 16px;
  font-weight: 600;
}

.desc{
  color: #161616;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.rent-btn{
  border-radius: 5px;
  background: #FF8C38;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  width: 100%;
  
}

/* host-vans-card */

.host-vans-card{
 background: #FFF7ED;;
 padding: 35px;
 display: grid;
 grid-template-areas: "img name " "img price ";

}

.host-vans-card>img{
  width: 150px;
  grid-area: img;
  
}

.host-vans-card>h3{
  grid-area: name;
  color: #161616;
  font-size: 24px;
  font-weight: 600;
 
}

.host-vans-card>p{
 
  grid-area: price;
  color: #4D4D4D;
  font-size: 20px;
  font-weight: 500;
}

.host-vans-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 20px;
}

.back{
  color: black;
  text-decoration: none;
  margin-left: 35px;

}

.back>span{

  text-decoration: underline;
}

/* host vans */

 .van-dts-host{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 35px;
  gap: 35px;
 }

 .van-host-det-img{
  width: 100%;
 } 

 .main-info{
  background: #FFF7ED;
  padding: 30px;
  margin-bottom: 30px;
 }

 .outlet{
  background: #FFF7ED;
  padding: 30px;
 }

 .host-van-detail-info > h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  line-height: 27px;
}
.host-van-detail-info > h4 > span {
  font-weight: 500;
}

.host-van-price {
  font-size: 24px;
  font-weight: 500;
}

.host-van-price > span {
  font-size: 16px;
  color: #4D4D4D;
}

.host-van-detail-image {
  height: 100px;
  border-radius: 5px;
}


/* not found */

.not-found{
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found>h1{
  color: #161616;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.not-found>a{
 text-decoration: none;
  padding: 15px 200px;
  background: #161616;
  color: #FFF;
  font-family: Inter;
  font-weight: 700;
  border-radius: 5px;
  font-size: 20px;
}

/* login */

.user-icon{
  height: 20px;
  width: 20px;

}

.login-link{
  display: inline-flex;
  align-items: center;
  
}

.login-container{
  background: #FFF7ED;
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 35px;
  text-align: center;
}

.login-container>h1{
  color: #161616;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.login-form{
  display: flex;
  flex-direction: column;
  padding:0 90px;
 font-family: Inter;
 
}

input[type="text"],input[type="password"]{
  background: #FFF;
  padding: 10px;
  border-radius: 6px;
  border: none
}

input[type="text"]{
  border-bottom: 1px solid #D1D5DB;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

input[type="password"]{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.inputs-container{
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  margin-bottom: 20px;
  border: 1px solid #D1D5DB;
}

.login-form>button{
  border-radius: 6px;
  background: #FF8C38;
  border: none;
  padding: 12px;
  color: #FFF;
  font-weight: 700;
  margin-bottom: 30px;
}

.login-container>p{
  color: #161616;
  font-size: 16px;
  font-weight: 500;  
}

.login-container>p>a{
  color: #FF8C38;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.login-first {
  color: red;
}

/* dashboard */

.dashboard-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 35px;
}

.welcome{
  background: #FFEAD0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  margin-right: 35px;
  border-radius: 6px;
}

.review-score{
  background: #FFDDB2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 35px;
  border-radius: 6px;
}

.listed-vans{
  background: #FFEAD0;
  padding: 20px;
  border-radius: 6px;
}

.inner-listed-vans{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.flex-vans{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.underline{
  font-weight: 600;
  text-decoration: underline;
}
/* footer */

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer{
  background-color: #161616;
  color: #AAAAAA;
  height: 74px;
   display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

@media (max-width:580px) {
  .home{padding: 25px;}
  
  .home>h1{
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 0px;
  }
  .home>h3{
    font-size: 20px;
    margin-bottom: 20px;
  }

  .find-van{
    width: 100%;
  }
  .about{
    display: block;
  }

  .about>img{
    width: 100%;
  }

  .inner-about>h1{
    font-size: 28px;
    line-height: 33px;
  }

  .inner-about>p{
    font-size: 16px;
  }

  .inner-orange{
    text-align: left;
  }
}

