* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #fffcf8;
  font-family: 'Inter', sans-serif;
}

/* header */

.nav-links>a {
  text-decoration: none;
  margin-left: 10px;
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.923px;
}

.nav-links{
  display: flex;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 25px 25px;
  background: #FFF7ED;
  
}

nav>a{
  margin: 0;
  color: #000;
  font-size: 25.353px;
  font-style: normal;
  font-weight: 900;
  text-decoration: none;
  line-height: 40.271px;
}



.host-nav {
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
}

.host-nav a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 20px;
}

.logout{
  text-decoration: none;
  margin-left: 10px;
  padding: 0;
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: transparent;
}

.logout:hover{
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

a.link-styles{
  font-weight: bold;
  text-decoration: underline;
  color: #161616
}

/* home */

.home{
  background-image: url('assets/about.png');
  padding: 65px 65px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home>h1{
  color: #FFF;
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  margin-top: 0;
  text-align: center;
}

.home>h3{
  color: #FFF;
  font-size: 25px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 100px;
  text-align: center;
}

.find-van{
  border-radius: 5px;
  background: #FF8C38;
  padding: 10px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 31.662px;
  border: none;
  width: 40%;
  text-decoration: none;
  text-align: center;
}

/* about */

.about{
  display: flex;
}

.about>img{
 width:36%;
}

.inner-about{
  background: #fffcf8;
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-about>h1{
  color: #161616;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin-top:0 ;
}

.inner-about>p{
  color: #161616;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.inner-orange{
  background: #FFCC8D;
  border-radius: 5px;
  padding:  30px 37px;
  text-align: center;
}

.inner-orange>h3{
  color: #161616;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 0;
  
}

.second-h3{
  margin-top: 0px;
}

.explore-vans{
  margin-top: 30px;
  background: #161616;
  color: var(--white, #FFF);
  border-radius: 10px;
  padding: 12px 22px;
  cursor: pointer;
  text-align:center ;
  text-decoration: none;
  display: inline-block;
}

/* vans */

.van-card{
  display: grid;
  grid-template-areas: 
  "img img"
  "name price"
  "type type";
  width: 43vw;
  min-width: 500px;
}

.van-card>img{
  grid-area: img;
 width: 100%
}

.van-name{
  grid-area: name;
  color: #161616;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.van-price{
  grid-area: price;
  color: #161616;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin: 5px 0px 5px auto;
}

.day-span{
  font-size: 14px;
  font-weight: 500;
  
}

.van-card>p{
  margin: 0px auto 0px 0px;
  grid-area: type;
  padding: 5px 10px;
  border-radius: 5px;
  color: #FFEAD0;
  font-size: 16px;
  font-weight: 600;
  align-self: center;
}

.simple,.simple:hover,.simple.selected{
  background: #E17654;
  color: #FFEAD0;
}

.rugged,.rugged:hover,.rugged.selected{
  background: #115E59;
  color: #FFEAD0;
}

.luxury,.luxury:hover,.luxury.selected{
  background: #161616;
  color: #FFEAD0;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  
}

.clear{
  text-decoration: underline;
  color: #4D4D4D;
}

.van-list-filter-buttons{
 margin-left: 35px;
 display: flex;
 flex-wrap: wrap;
 gap: 20px;
}

.van-elements{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
  padding: 40px ;

}

.var-elements-container{
  background: #fffcf8;
}

.var-elements-container>h1{
  color: #161616;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  padding: 35px 35px 0px 35px;
  margin-top: 0;
}

.van-link{
 text-decoration: none;
}

/* van details */

.van-dts{
  display: flex;
  padding: 35px;
}

.van-dts>img{
  width: 40%;
}

.van-det-inner{
  padding: 100px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 align-items: start;
}

.van-name-det{
  color: #161616;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.van-price-det{
  color: #161616;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 20px 0;
}

.type{
  display: inline;
  padding: 5px 10px;
  border-radius: 5px;
  color: #FFEAD0;
  font-size: 16px;
  font-weight: 600;
}

.desc{
  color: #161616;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.rent-btn{
  border-radius: 5px;
  background: #FF8C38;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  width: 100%;
  
}

/* host-vans-card */

.host-vans-card{
 background: #FFF7ED;;
 padding: 35px;
 display: grid;
 grid-template-areas: "img name " "img price ";
 position: relative;
 
}

.host-vans-card>img{
  width: 150px;
  grid-area: img;
 /* margin-right: 25px; */
}

.host-vans-card>h3{
  grid-area: name;
  color: #161616;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  align-self: start;
  justify-self: start;
 
}

.host-vans-card>p{
 
  grid-area: price;
  color: #4D4D4D;
  font-size: 20px;
  font-weight: 500;
}

.host-vans-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
 flex-wrap: wrap;
  margin: 35px;
  gap: 25px;
}

.back{
  color: black;
  text-decoration: none;
  margin-left: 35px;
}

.back-container{
  padding-top: 35px;;
}

.back>span{

  text-decoration: underline;
}

/* host vans */

 .van-dts-host{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 35px;
  gap: 35px;
 }

 .van-host-det-img{
  width: 100%;
 } 

 .main-info{
  background: #FFF7ED;
  padding: 30px;
  margin-bottom: 30px;
 }

 .outlet{
  background: #FFF7ED;
  padding: 30px;
 }

 .host-van-detail-info > h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  line-height: 27px;
}
.host-van-detail-info > h4 > span {
  font-weight: 500;
}

.host-van-price {
  font-size: 24px;
  font-weight: 500;
}

.host-van-price > span {
  font-size: 16px;
  color: #4D4D4D;
}

.host-van-detail-image {
  height: 100px;
  border-radius: 5px;
}


/* not found */

.not-found{
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found>h1{
  color: #161616;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.not-found>a{
 text-decoration: none;
  padding: 15px 200px;
  background: #161616;
  color: #FFF;
  font-family: Inter;
  font-weight: 700;
  border-radius: 5px;
  font-size: 20px;
}

/* login */

.user-icon{
  height: 20px;
  width: 20px;

}

.login-link{
  display: inline-flex;
  align-items: center;
  
}

.login-container{
  background: #FFF7ED;
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 35px;
  text-align: center;
}

.login-container>h1{
  color: #161616;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.login-form{
  display: flex;
  flex-direction: column;
  padding:0 90px;
 font-family: Inter;
 
}

input[type="text"],input[type="password"]{
  background: #FFF;
  padding: 10px;
  border-radius: 6px;
  border: none
}

input[type="text"]{
  border-bottom: 1px solid #D1D5DB;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

input[type="password"]{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#re-password{
  border-top: 1px solid #D1D5DB;
}

.inputs-container{
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  margin-bottom: 20px;
  border: 1px solid #D1D5DB;
}

.login-form>button{
  border-radius: 6px;
  background: #FF8C38;
  border: none;
  padding: 12px;
  color: #FFF;
  font-weight: 700;
  margin-bottom: 30px;
}

.login-container>p{
  color: #161616;
  font-size: 16px;
  font-weight: 500;  
}

.login-container>p>a{
  color: #FF8C38;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.login-first {
  color: red;
}



/* dashboard */


.dashboard-container{
  display: block;
  padding: 35px;
  padding-top: 0;
}

.upper-dashboard{
  display: flex;
  justify-content: space-between;
}

.details{
  color: #161616;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  
}

.welcome{
  background: #FFEAD0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  border-radius: 6px;
  width: 50%;
}

.welcome-inner>h2{
  color: #161616;
  font-size: 36px;
  font-weight: 700;
  margin-top: 10px;
}

.welcome-inner>h3{
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 500;
}

.welcome-inner>h1{
  color: #161616;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 5px;
}

.review-score{
  background: #FFDDB2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  border-radius: 6px;
  margin-left: 35px;
  width: 49%;
}

.review-score-inner>h2{
  color: #161616;
  font-size: 24px;
  font-weight: 700;
}

.flex-star{
  display: flex;
  align-items: center;
  gap: 10px;
}

.flex-star>p{
  font-size: 18px;
}

.light{
  color: #4D4D4D;
}

.star{
  color: #FF8C38;
  font-size: 20px;
}

.listed-vans{
  background: #FFEAD0;
  padding: 20px;
  border-radius: 6px;
}

.inner-listed-vans{
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
  gap: 20px;
}

.flex-vans{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.underline{
  font-weight: 600;
  text-decoration: underline;
}

/* reviews */

.reviews-container{
  padding: 0px 35px 35px 35px;

}

.reviews-container>h1{
  margin: 0;
  color: #161616;
  font-size: 32px;
  font-weight: 700;
}

.reviews-inner-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px
}

.small{
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 500;
}

.overall-rate{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.rating-bars-container,.review-elements{
  background: #FFEAD0;
  padding: 25px;
  border-radius: 6px;
}

.rating-bar{
  display: flex;
  justify-content: start;
  align-items: center;
}

.rating-bar>h3{
  font-size: 16px;
  font-weight: 500;
  width: 70px;
  margin-right: 15px;
  color: #4D4D4D;
  
}

.rating-bar>p{
 color: #4D4D4D;
 text-align: right;
 width: 80px;
}

.bar{
  width: 70%;
  height: 10px;
  background-color: #b9b9b9;
  border-radius: 5px;
}

.yellow{
  background: #FF8C38;
}

.rev-num{
  margin-bottom: 33px;
}

.review-card{
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 15px;
}

.name-date{
  display: flex;
  align-items: baseline;
  gap: 5px;
 margin-top: 8px;
}

.name-date>h3{
  color: #161616;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.name-date>p{
  color:#8C8C8C;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.comment{
  color: #161616;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.162px;
}

/* income */

.income-container{
  padding: 0px 35px 35px 35px;
}

.upper-income{
  display: flex;
  justify-content: space-between;
}

.inner-income{
  background: #FFEAD0;
  padding: 25px;
}

.income-keyword{
  color: #161616;
  font-size: 32px;
  font-weight: 700;
 margin-top: 0;
 margin-bottom: 10px;
}

.inner-income>h1{
  color: #161616;
  font-size: 38px;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 0;
}

.inner-income>h3{
  color: #161616;
  font-size: 20px;
  font-weight: 700;
}

.chart{
  width: 60%;
  height: 530px;
  margin: auto;
  background-color: #FFEAD0;
  padding: 35px 35px 25px 25px;
  margin: 0;
  font-family: Inter;
  color: #161616;
  
}

.transactions-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.transaction-card{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background: #FFF;
  
}

/* footer */

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer{
  background-color: #161616;
  color: #AAAAAA;
  height: 74px;
   display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

.placeholder{
  margin-left: 35px;
 }



@media (max-width:680px) {
  nav{
    padding: 25px 15px;
  }

  .nav-links>a{
    font-size: 14px;
  }

  .logout{
    font-size: 14px;
  }

  .host-nav a{
    padding: 5px 0 5px 15px;
  }

  .home{
    padding: 25px;
  }
  
  .home>h1{
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 0px;
  }
  .home>h3{
    font-size: 20px;
    margin-bottom: 20px;
  }

  .find-van{
    width: 100%;
  }
  .about{
    display: block;
  }

  .about>img{
    width: 100%;
  }

  .inner-about>h1{
    font-size: 28px;
    line-height: 33px;
  }

  .inner-about>p{
    font-size: 16px;
  }

  .inner-orange{
    text-align: left;
  }

  .van-card{
    min-width: 90vw;
  }

  .van-list-filter-buttons{
    margin-left: 15px;
    margin-right: 15px;
    gap: 10px;
   }

   .var-elements-container>h1{
    padding-left: 15px;
    padding-top: 20px;
   }

   .van-dts{
    flex-direction: column;
  }

  .van-dts>img{
    width: 100%;
  }

  .van-det-inner{
    padding: 30px 15px;
  }

   .host-vans-card{
   
    margin-bottom: 20px;
    padding: 20px;
   }

   .host-vans-card>img{
    width: 100px;
   }

   .host-vans-card>h3{
    font-size: 18px;
   }
   .host-vans-card>p{
    font-size: 16px;
   }

   .host-vans-container{
    display: block;
    margin: 20px;
  }

   .placeholder{
    margin-left: 15px;
   }

   .van-dts-host{
    display: block;
    padding: 25px;
   }

   .van-host-det-img{
    margin-bottom: 25px;
   } 

   .dashboard-container{
    padding: 25px;
   }

   .upper-dashboard{
    display: block;
   }

   .welcome,.review-score{
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
   }

   .welcome-inner>h2{
    font-size: 24px;
  }
  
  .welcome-inner>h3{
    font-size: 16px;
  }
  
  .welcome-inner>h1{
    font-size: 32px;
  }

  .flex-vans>h1{
    font-size: 24px;
  }

   .inner-listed-vans{
    display: block;
  }

  .login-container{
    width: 90%;
    padding: 25px;
  }

  .login-form{
    padding:0;
  }

  .reviews-container,.income-container{
    padding: 0px 25px 25px 25px;
  }

  .reviews-inner-container{
    display: block;
    margin-bottom: 35px;
  }

  .reviews-pannel{
    margin-bottom: 33px;
  }

  .upper-income{
    flex-direction: column;
    justify-content: space-between;
  }

  .chart{
    width: 100%;
    height: 300px;
    margin-bottom: 25px;
  }

}

